/* General styling */
body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f0f0f0; 
}

header {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333; 
  color: #fff;
  padding: 0 30px;
}

label {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

ul {
 display: flex;  
}

nav ul {
  list-style: none;  
}

nav li a,
.btn a {
  margin-right: 20px; 
  color: white;
  text-decoration: none;
}

.features-heading {
  text-align: center;
}

.btn {
  background-color: green;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-left: 20px;
}

.btn:hover {
  color: #d02ea5;
  background-color: lightblue;
}
.features {
  padding-left: 10px;
  margin-left: 10px;
}

#calculator {
  background-color: #d02ea5;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  width: 400px;
  height: 300px;
  margin-top: 50px; /* Set a fixed width for better layout */
}

#display {
  width: 95%;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.number,
.operator {  
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

.number:hover,
.operator:hover {
  background-color: lightblue;
}

/* Specific button styling */
.operator {
  background-color: lightgreen;
  color: #333;
}

.clear {
  background-color: #f00;
  color: #fff;
  border-radius: 8px;
  border: 8px;
}

.equal {
  background-color: #0f0;
  color: #fff;
  border-radius: 8px;
  border: none;
}


