{% extends "layout.html" %}

{% block content %}

  <h1 class="features-heading">Powerful Calculations At Your Fingertips</h1>

  <section class="features">
    <h2>Master the Basics</h2>
    <p>Our calculator excels at handling your everyday arithmetic needs.</p>
    
      <p>Perform addition, subtraction, multiplication, and division with ease. <br> Handle decimal numbers effortlessly, ensuring precise calculations. <br> Focus on solving your problems, not worrying about complex formulas.</p>
    
  </section>
  <div class="btn-items">
    <button class="btn"><a href="/">Start Calculating Now!</a></button>
    <button class="btn"><a href="https://www.linkedin.com/in/paidamoyo-garikai-171b56270/" target="_blank" rel="noopener">linkedIn</a></button>
    <button class="btn"><a href="https://twitter.com/home" target="_blank" rel="noopener">twitter</a></button>
    <button class="btn"><a href="https://github.com/garikaipaidamoyo" target="_blank" rel="noopener">github</a></button>
</div>

  

  <script src="script.js"></script>

  {% endblock %}
</body>

</html>