{% extends "layout.html" %}

{% block content %}
  <div id="calculator">
    <label for="Display">Calculator</label>
    <input type="text" id="display" readonly title="This displays the calculations">
    <div class="buttons">
      <button class="operator" onclick="appendOperator('+')">+</button>
      <button class="operator" onclick="appendOperator('-')">-</button>
      <button class="operator" onclick="appendOperator('*')">*</button>
      <button class="operator" onclick="appendOperator('/')">/</button>      
    </div>
    <div class="buttons">
      <button class="number" onclick="appendNumber(number)">1</button>
      <button class="number" onclick="appendNumber(number)">2</button>
      <button class="number" onclick="appendNumber(number)">3</button>
      <button class="number" onclick="appendNumber(number)">4</button>
      <button class="number" onclick="appendNumber(number)">5</button>
      <button class="number" onclick="appendNumber(number)">6</button>
      <button class="number" onclick="appendNumber(number)">7</button>
      <button class="number" onclick="appendNumber(number)">8</button>
      <button class="number" onclick="appendNumber(number)">9</button>
      <button class="number" onclick="appendNumber(number)">0</button>
      <button class="equal" onclick="calculate()">=</button>
      <button class="clear" onclick="clearDisplay('C')">C</button>
    </div>
  </div>
  
  {% endblock %}
</body>

</html>